<!DOCTYPE html>
<html>
<head>
  <title>Sign Up-BookPad</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
    <header class="signup-header">Welcome to BookPad</header>

    <h3 class="signup-h3">Sign up here</h3>
    <form>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Enter your username" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Enter your password" required>
        </div>

        <div class="form-group">
            <label for="password">Email:</label>
            <input type="email" name="email" placeholder="someone@example.com" required>
          </div>

          <div class="form-group">
            <label for="password">Phone:</label>
            <input type="tel" name="tel" placeholder="" required>
          </div>  

        <div class="form-group">
          <a href="login.html">Signup</a>
        </div>

        <div class="form-group-signup">
          <p class="signup-link">Already have an account? <a href="login.html">Login</a></p>
        </div>
        
      </form>
    </body>
  </head>      